<!-- Esta página será re-utilizada por outras páginas através do método render "menu" -->
<!-- Helper: link_to -->
<ul>
    <li>
    <!-- Essa opção de coins_path está relacionada diretamente com o controller de 'coins'-->
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>

<!-- Outros exemplos de se escrever caminho para o mesmo lugar    
    <li>
        <%= link_to "Cadastro de Moedas", "/coins" %>
    </li>
    <li>
        <a href="/coins">Cadastro de Moedas </a>
    </li>
-->
</ul>